* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  background: linear-gradient(-45deg, rgba(216, 230, 221, 0.493), rgba(223, 219, 221, 0.253)),
  url('background.jpg');
  background-size: cover;
}

.Header {
  height: 70px;
  width: 100vw;
  background-color: #7ddbcc;
  border-bottom: solid 3px #93c7ad;
  display: flex;
  justify-content: space-between;
  &__Logo {
    padding: 10px 0 10px 40px;
  }
}

.nav-list {
  border: solid 3px #4f81cc;
  border-radius: 15px;
  margin: 20px 40px ;
  padding: 8px;
}

h2 {
  font-size: 30px;
  color: #71a8df;
  text-shadow: 1px 1px 0 #FFF, 2px 2px 5px #99ccff, 4px 4px 10px #b2d8ff, 6px 6px 15px #dbedff, 8px 8px 20px #eaf4ff;
}

.mypage {
  text-decoration: none;
  color: blue($color: #459bd4);
}


.Header__Body {
  height: 350px;
  width: 100%;
  background-image: url('header-cosme.jpg');
}

.slick01 {
  display: flex;
  justify-content: space-around;
}

.Contents{
  display: flex;
  justify-content: center;
  &__Top{
    width: calc(100vw - 40%);
    background-color: #7ddbcc;
  }
  &__Thread {
    display: flex;
    justify-content: center;
    &__List {
      display: flex;
      justify-content: center;
      border-left: 3px solid #27a1d1;
      margin-top: 40px;
    }
  }
}

.Contents__Main__Cosmes {
  padding:0.5em 1em;
  margin: 2em 0;
  color: #59ecff;
  background: cadetblue;
  border-top: solid 10px #59b2db; 
  display: flex;
  justify-content: space-around;
}

.image {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

a {
  display: block;
  text-align: start;
}

.Contents__Movies {
  display: flex;
  justify-content: center;
  border-bottom: solid 3px #e23838;
  margin-bottom: 10px;
}

.Contents__Movie {
  display: flex;
  justify-content: space-around;
  &__Youtube {

  }
}

.Topic__Top {
  width: 60%;
  background-color: greenyellow;
  margin: auto;
  display: flex;
  justify-content: center;
}


.form--title {
  height: 20px;
  width: 100%;
}
