.Post__Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Post__Container {
  border: solid 1px #232323;
  border-radius: 5px;
  &__User {
    display: flex;
  }
}

